.gridcon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: sticky;
  top: 0;
}

.grid-div {
  border: 1px solid #fff;
  cursor: pointer;
  text-align: center;
  background-color: cornflowerblue;
  color: aliceblue;
  font-weight: 600;
  padding: 10px;
}

#dyedsilkstores:hover {
  background-color: green;
}

#bobinstores:hover {
  background-color: red;
}

#pirnstores:hover {
  background-color: yellow;
  color: black;
}

input {
  color: blue !important;
  font-weight: 600 !important;
}

.tbl_heading {
  text-align: center;
  border: 1px solid #ccc;
  font-weight: 500;
  background-color: cornflowerblue;
  color: #fff;
}

table,
th,
td {
  border: 1px solid #ccc;

}
.home {
  position: fixed;
  top: 10px;
  left: 10px;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: auto; /* Set margin to auto to horizontally center */
  position: fixed; /* Set position to fixed for vertical centering */
  top: 50%; /* Set top to 50% for vertical centering */
  left: 50%; /* Set left to 50% for horizontal centering */
  transform: translate(-50%, -50%); /* Use transform to center precisely */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}


.scroll-toggle-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
