body {
    font-family: Arial, sans-serif;
    background-color: #7ab1f0;
  }
/* Increase checkbox size */
input[type="checkbox"] {
  transform: scale(1.6); /* Increase the size by scaling */
  /* Optionally, you can add additional styling */
  margin-right: 5px; /* Add some space between the checkbox and the text */
  height:22px !important;
}

  .container-main {
    max-width: 500px;
    margin-left:20%;
    padding:0PX 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  /* .bgcolor{
    background-color: #c068e9;
  } */

  .form-group {
    margin-bottom: 1px;
  }

  .form-group label {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
  }

  .form-group input,
  .form-group select {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
  }

  .form-group input[type="submit"],input[type="button"] {
    background-color: #e7c500;
    color: #ffffff;
    cursor: pointer;
  }

  .form-group input[type="submit"]:hover,input[type="button"]:hover {
    background-color: #4CAF50;
  }

  h2 {
    text-align: center;
  }
  .form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group {
  flex-basis: 300%;
  margin-right: 1rem;
}

.form-group:last-child {
  margin-right: 0;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="date"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  color: blue;
  font-weight: 600;
}
option{
  color:blue;
  font-size: 16px;
  font-weight:400;
}
input:focus,select:focus{
  outline-color:blue;
}
button:focus,a:focus{
  outline-color:#e7c500
}

h2 {
  color: #5f28df;
}

.line-container {
width: 100%;
text-align: center;
}

.line-container::before {
content: "";
display: inline-block;
width: 100%;
height: 1px;
background-color: #e7c500;
}

.buttons {
  display:flex;
  justify-content:space-between ;
  margin: 5PX;
}
.buttons button{
background-color: #0056b3;
padding: 10px 30px;
font-size: 16px;
font-weight: 600;
color:#fff;
border-color: #0056b3;
border-radius:4px;
}
.buttons button:hover{
background-color:#007bff;
}



  
/* CSS styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  right : 0; /* Adjust right position to center on the right side */
  width: 40%;
margin-left: auto;
  background-color: rgba(228, 226, 226, 0.7);
  z-index: 1;
}

.modal-content {
  background-color: #fff;
  position: absolute;
  top: 20%;
  right: 5%; /* Center horizontally on the right side */
  transform: translate(0, -50%); /* Vertically center the modal content */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 80%;
  width: 90%;
  /* Set a maximum height for the modal content */
  overflow-y: auto;
  /* Enable vertical scrollbar if needed */
}

.modal label{
  background-color: yellowgreen;
  border-radius: 50%;
  padding: 8px;
  color:#fff;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.modal input[type="text"] {
  border: 1px solid #000;
  margin: 5px;
  height: 30px !important;
  /* width: 15vw; */
  padding: 5px;
  color:blue;

}
.modal input[type="number"] {
  border: 1px solid #000;
  margin: 5px;
  height: 32px !important;
  /* width: 15vw; */
  padding: 5px;
  color:blue;

}
.modal input[type="submit"] {
  background-color: #003985;
  color: #fff;
  padding: 5px;
  margin-top: 10px;
}
