/* Styles for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Add space between tables if needed */
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 6px;
    /* Add more table-specific styling here */
  }
  
   td {
   
    padding: 2px;
    /* Add more table-specific styling here */
  }
  
  /* Alternate row color */
  tr:nth-child(even) {
    background-color: #dfe0a3;
    color: rgb(36, 35, 35);

  }
  
  /* Header styles */
  th {
    background-color: rgb(187, 187, 185);
    color: rgb(20, 20, 20);
  }
  .tbl_heading{
    text-align: center;
    color: #fff;
    background-color: rgba(134, 157, 235, 0.897);
    font-weight: 600;
    font-size: large;
  }
  /* Styles for when printing */
  @media print {
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px; /* Add space between tables if needed */
      color: #000;
      font-size: small;
      background-color: none !important;
    }
  
    th, td {
      border: 1px solid #000;
      padding: 8px;

      /* Add more table-specific styling here */
    }
    /* Hide non-print elements by default */
.non-print {
    display: none;
}

/* Show print-only elements only during print */

    .printonly {
        display: block;
        
    }
th,td,.tbl_heading{
    background-color: none;
    color: #000;
}
    .non-print {
        display: none;
    }


  }
  #print{
    width: 120px;
    height: 40px;
    /* margin-left: 10px; */
    margin-bottom: 10px;
background-color: rgb(26, 26, 110);
color: #fff;
border: 1px solid #fff;
font-weight: bold;
padding: 6px 10px ;

}